<div class="section" id="skill">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Skills</div>
        <div class="row">
            <mat-card class="skillcard">
                <table class="skillsTable">
                    <tr>
                        <th>
                            Certifications
                        </th>
                        <th>
                            <button mat-button> Supply Chain - Engineering Management</button>

                            <button mat-button (click)='redirectToPage("https://www.credential.net/c9bd6ca6-0b8e-4203-807c-0c8cf087ace5")'> Lean Six Sigma Green Belt- license no. 11356560 (Exemplar Global)</button>
                            <button mat-button (click)='redirectToPage("https://www.coursera.org/account/accomplishments/professional-cert/MN432QMCESAU")'> SAS Visual Business Analytics Professional</button>
                            <button mat-button (click)='redirectToPage("https://www.youracclaim.com/badges/37f7a5a6-61b8-46ff-a137-180ce49e6117/linked_in_profile")'>Tableau Analyst</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Blog Post
                        </th>
                        <th>

                            <button mat-button class="links" (click)='redirectToPage("https://www.skillsire.com/read-blog/123_optimizing-online-retail-industry-using-artificial-intelligence-leveraging-relex.html")'>                           
                                      Automating E-Commerce Assortment Decisions 
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Technical Tools
                        </th>
                        <th>
                            <button mat-button>Freemind</button>
                            <button mat-button>SQL</button>
                            <button mat-button>Minitab</button>
                            <button mat-button>MS Office</button>
                            <button mat-button>MS Project</button>
                            <button mat-button>Tally-ERP</button>
                            <button mat-button>PowerBi</button>
                            <button mat-button>Lingo</button>
                            <button mat-button>R Studio</button>
                            <button mat-button>Python</button>
                            <button mat-button>Arena Simulation</button>
                            <button mat-button>SAS visual analytics</button>
                            <button mat-button>SAS data studio</button>
                            <button mat-button>Toad Data modeler</button>
                            <button mat-button>Tableau</button>
                            <button mat-button> SAP</button>

                        </th>
                    </tr>
                    <tr>
                        <th>
                            CAD/CAM/CAE Tools
                        </th>
                        <th>
                            <button mat-button>Solid works</button>
                            <button mat-button>AutoCAD</button>
                            <button mat-button>CorelDRAW</button>
                            <button mat-button>ANSYS</button>
                            <button mat-button>Photoshop</button>
                            <button mat-button>C</button>
                            <button mat-button>C++</button>

                        </th>
                    </tr>

                </table>
            </mat-card>
        </div>
    </div>
</div>