<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                        <p>
                            A Leader, a manager, an engineer and an analytical individual interested in optimizing the supply chain and manufacturing domain with qualitative and quantitative measures of continuous improvement strategies aiming to bridge the gap between the human
                            effort in making things efficient and effective automation.
                        </p>
                        <p>
                            An effective learner who believes in continuous learning from the past and create a better future by making trade-off decisions involving efficient and optimal outcomes using the technical and practical skills gained in the process.
                        </p>
                        <p>
                            A well-versed supply chain analyst from online retail business sector with a manufacturing and marketing-based experience in the Motorsport industry developing into a well-rounded lean zealot. With a technical speciality in concepts like forecasting,
                            Gantt Chart, prediction classification, Lean principles, database design, data retrieval, data analysis and project management principles.
                        </p>


                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">September 18, 1995</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">parikh.kar@northeastern.edu</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+1 603 930 5884</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Languages:</strong>
                            </div>
                            <div class="col-sm-8">English, Hindi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>