<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2018 - 2020</p>
                        <div class="h5">Master's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Master of Science</div>
                        <h4 class="category"> Northeastern University</h4>
                        CGPA - 3.71 / 4 <br /> Coursework:
                        <ul>
                            <li>Supply Chain Engineering</li>
                            <li>Probability and Statistics</li>
                            <li>Operations Research</li>
                            <li>Logistics Warehousing and Scheduling</li>
                            <li>Engineering Project Management</li>
                            <li>Lean Concepts and Applications</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013 - 2017</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Engineering</div>
                        <h4 class="category">K.J.Somaiya College of Engineering</h4>
                        CGPA - 7.33 / 10 <br /> Coursework:
                        <ul>
                            <li>Production Planning</li>
                            <li>Supply Chain Management</li>
                            <li>Project Management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>