<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">
                            Property Management System
                        </h4>
                        <!-- <img class="card-img-top" src="assets/images/port-rs.png" alt="Card image" style="width: 100%; height: 60%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>
                            <h5 class="card-text">SSMS, Toad Data Modeler, SQL, PowerBI</h5>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button> View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Developed Property Management System to keep track of property information and attributes like customer name, lease tenure, customer score, etc. to provide hassle-free customer experience Collected and analyzed raw
                                        data, created a dynamic database and an entity-relationship diagram stating business rules using toad data modeler Designed database on MYSQL and worked on stored procedures, functions and triggers using SQL queries
                                        and dashboards using PowerBI
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">
                            Analyzing World Class Manufacturing (WCM)
                        </h4>
                        <!-- <img class="card-img-top" src="assets/images/ra-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>
                            <h5 class="card-text">Lean Concepts and Applications</h5>



                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Analyzed the implementation of WCM in the manufacturing industry- Whirlpool Corporation, Manufacturing of commercial washers and dryers Learned the application WCM principles, applied 6S workplace, Muri/Muda Analysis,
                                        Value Stream/Process Map and SOP standard procedures
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <!-- <a href="https://github.com/vignesh-chivukula/Road-side-assistance" target="_blank" class="btnexp btn-primary stretched-link">Explore Further
              </a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">Weightlifting Performance monitoring</h4>
                        <!-- <img class="card-img-top" src="assets/images/ez-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>

                            <h5 class="card-text">R-Studio, MS-Excel</h5>


                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Developed a machine learning training model and performed data preprocessing using R studio on a CSV data set created by converting 39243 samples to classify the type of error caused ( errors are classified as Class
                                        A, B, C, D and E based on the form of the individual performing the exercise) by training the model using a training data set Performed principal component analysis to transform correlated features into principal
                                        components Predicted errors using KNN, Decision Tree, SVM, Neural Network and Random Forest methods and justified the best fit model for the dataset

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                            <!-- <a href="https://github.com/vignesh-chivukula/job-portal" target="_blank" class="btnexp btn-primary stretched-link">Explore Further</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">
                            Seaport and Inventory Model Simulation
                        </h4>
                        <!-- <img class="card-img-top" src="assets/images/ra-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>
                            <h5 class="card-text">Arena Simulation</h5>


                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Created a simulation for Port and a warehouse inventory model using Arena Simulation to optimize profit based on input parameters and desired goal Optimized the resources available and analyzed the inflow of goods from
                                        freighters into the port and warehouse till dispatching. Developed reports showcasing the best optimal stock-keeping unit of 3352 units in inventory for with 1$ cost price associated with the product, 10% inventory
                                        holding cost per day and 10 days replenishment time

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <!-- <a href="https://github.com/vignesh-chivukula/Road-side-assistance" target="_blank" class="btnexp btn-primary stretched-link">Explore Further
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">
                            SAS Certification
                        </h4>
                        <!-- <img class="card-img-top" src="assets/images/ra-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  Orion Star Sports and Outdoors</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Prepared the data according to the requirements and developed dashboard reports using SAS data studio and SAS visual analytics to help various teams Performed data cleansing, restructuring and transformation operations
                                        using calculated fields and parameter functions (numeric, character and date parameter functions) Created and formatted data views for the above analysis for the required teams to view them Created dynamically filtered
                                        dashboard reports which link to the product web page using URL parameter feature to view product details and mapped data from two data sources

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  Employee Promotion Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Developed and analyzed data based on HR teams requirements to analyze which sales employee is eligible to obtain a promotion Helped select the employees eligible for promotion based on job role, profit earned, loyalty
                                        (duration served), and current salary trends based on market trends for the HR team. Analyzed the trends of performance based on job titles using hierarchy to classify the data Created interactive reports using
                                        prompts, rank and actions and visualizations adding styles and graph level display rules for gender-based and date-based information including employee status

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  Targeted Outreach Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Calculated profit based on parameters like customer age, gender, age group and delivery times to analyze the required based on the marketing team’s requirements Helped select a focus group for the marketing team for
                                        their next marketing campaign based on sales worldwide Analyzed profit through order types to maximize the profit from online and catalogue channels Analyzed profit by location to root cause the problems of the
                                        above order types in North America using geo maps and cluster analyzing the states which have high sales through those channels Analyzed the impact of delivery times, number of orders and shipping date through online
                                        and catalogue channels which resulted in increasing the availability of fast-moving and high demand products for quicker delivery days near hotspot locations to increase profits Analyzed relationship between discounts,
                                        delivery times, revenue, customer demographics and unit costs to help draft promotion deals for the marketing team and monitor the trends associated
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  Sales Forecast Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Analyzed customer orders based on profit and delivery times as per the delivery team’s requirements Forecasted sales, orders and profits for the next 6 months and created a new table sales-order for future visual analytics
                                        purposes Appended new data with other existing tables for scenario analysis in the forecast Created an aggregated measure to calculate the yield rate of products for the manufacturing team and used suppress function
                                        to hide certain details in the report Calculated periodic aggregated measure to calculate 3-month change in order total from the current month for production purposes
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  Customer Satisfaction Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Performed path analysis to narrow down the path used by internet users to place an order Performed text and sentiment analysis to the notes taken by the customer service team to determine recurring issues for common
                                        topics and NPS to help create a better customer service
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  National Oceanic and Atmospheric Administration</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Created a new column to classify the code for a category using calculated columns Mapped the path of selected hurricanes, plotted windspeed and category at each location using geo maps and network analysis

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                            <!-- <a href="https://github.com/vignesh-chivukula/Road-side-assistance" target="_blank" class="btnexp btn-primary stretched-link">Explore Further
            </a> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">BI Visualizations and Analysis</h4>
                        <!-- <img class="card-img-top" src="assets/images/ez-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  NYPD Data Visualizations</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>Created PowerBI visualizations and dashboards for NYPD arrests listed by Burroughs, year, age group, area using rank and sorting functions with filtering options
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button> School Data Visualizations</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>Created data visualizations, tabular reports and dashboards using Tableau and PowerBI for a school data warehouse for educators and parents listing different student instances from different tables Analyzed school data
                                        like reason type, gender, resolutions, school, event type, etc. from Absence, Behaviour and Behaviour Resolution tables by joining databases using MySQL, Tableau and PowerBI
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button> AdventureWorks Data and Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>Analyzed AdventureWorks database to provide insights on various business requirements using MySQL, Tableau and PowerBI Analyzed AdventureWorks purchases by product groups, vendor groups and product type using a calculated
                                        field from the purchase cost and quantity using geo maps and calculated fields Analyzed AdventureWorks employee and vendor data to establish the employee involvement and vendor contact relations and products purchased
                                        from which vendor by which employee data
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>IMDB Data and Analysis</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>Created dashboards to track entities in the dimensional model such as movies, TV episodes and other titles with the people involved in associated revenue and ratings using MySQL, ER Model, PowerBI and Tableau Analyzed
                                        Box Office data, ranked the top 100 movies by all-time worldwide gross revenue and listed various attributes such as release date, running time, rankings, revenue related data, etc. Created an interactive dashboard
                                        for top 100 movies which is selected on Actors & actresses, Writers, Directors and Genre using filtered action and varied visualizations Ranked the top 25 titles by type of title, IMDb number of votes, IMDb rating
                                        but using a filter that uses a threshold number of votes using top N function, indexing function and table calculation Ranked Movies by Movie Lens Ratings, the top 25 movies titles in each Movie Lens genre, also
                                        listed the IMDb worldwide gross and IMDb ratings using dual-axis charts Provided a listing of various title attributes such as release date, running time, rankings, revenue related data, category, genre, type of
                                        title etc. for selected Actors & actresses, Writers and Directors

                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                            <!-- <a href="https://github.com/vignesh-chivukula/job-portal" target="_blank" class="btnexp btn-primary stretched-link">Explore Further</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">FSG 2019 Statistics</h4>
                        <!-- <img class="card-img-top" src="assets/images/ez-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>

                            <h5 class="card-text">Minitab, MS-Excel</h5>


                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Performed predictive analysis for the 2019 tournament. We predicted the probable results by forecasting techniques. The data was sorted and cleaned from using Tableau and various analysis tools like Minitab and excel
                                        were used to predict the outcome. With these forecasted results like lap times, points secured, etc. of FSG-2019, we compared team’s current testing phase parameters to calculate it’s positioning at the competition
                                        using statistical analysis tools, software, visualization and data interpretation techniques
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>


                            <!-- <a href="https://github.com/vignesh-chivukula/job-portal" target="_blank" class="btnexp btn-primary stretched-link">Explore Further</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">Designing of Engine Cooling System</h4>
                        <!-- <img class="card-img-top" src="assets/images/ez-rs.png" alt="Card image" style="width: 100%;" /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>

                            <h5 class="card-text">SolidWorks, ANSYS</h5>


                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Designed, manufactured, tested and validated the cooling system for an FSAE vehicle and wind tunnel performed pitot tube test and validated the apparatus results using CAD/CAM and data logging software’s Presented design
                                        report at FS-Germany and FS-Italy Reduced overall cooling system weight by 6%, cost by 20% and improved efficiency by 14%
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <h4 class="card-title" style="text-align: center;">
                            Project Management | Engineering Job Fair at Northeastern University
                        </h4>
                        <!-- <img
              class="card-img-top"
              src="assets/images/pose-rs.png"
              alt="Card image"
              style="width: 100%;"
            /> -->
                        <div class="card-body">
                            <h5 class="card-text"><b>Tech Used: </b></h5>
                            <h5 class="card-text">MS-Project</h5>

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button mat-button>  View Description</button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p> Prepared a project proposal and project charter for organizing an engineering job fair implementing project management concepts like WBS, Risk planning, Negotiation, estimating costs, Budgeting, etc. using MS Project
                                        and Excel
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>